body {
  margin: 0%;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: white;
}
.container1 {
  width: 30%;
  height: 700px;
  padding-top: 20px;
  background-color: rgb(127, 88, 164);
  display: flex;
  flex-direction: column;
}
.container2 {
  background-color: rgb(139, 63, 63);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  gap: 10px;
}
.container3 {
  background-color: rgb(62, 142, 142);
  width: 40%;
}
.box1 {
  text-align: center;
}
.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  text-align: center;
}
.box3 {
  margin-top: 30px;
  display: flex;
  justify-content: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}
.cell1 {
  height: 50px;
  width: 70px;
  background-color: chocolate;
  border: 2px solid black;
  padding: 10px 10px;
}
.cell2 {
  height: 70px;
  width: 150px;
  background-color: chocolate;
  border: 2px solid black;
  padding: 10px 10px;
}

.cell3 {
  height: 150px;
  width: 260px;
  background-color: chocolate;
  border: 2px solid black;
  padding: 10px 10px;
}
.cell4 {
  height: 70px;
  width: 260px;
  background-color: chocolate;
  border: 2px solid black;
  padding: 10px 10px;
}
.cell5 {
  height: 200px;
  width: 260px;
  background-color: chocolate;
  border: 2px solid black;
  padding: 10px 10px;
}
.cell6 {
  height: 70px;
  width: 80px;
  background-color: chocolate;
  border: 2px solid black;
}
